{{define "content"}}
<div v-cloak>
    <section class="even">
        <div class="container">
            <div class="columns home">
                <div class="column is-full">
                    <div class="feature mail">
                        <a href="/document/mail-suite" target="_blank">
                            <div class="doc-item">
                                <div class="doc-logo">
                                    <img src="https://hedwi.com/mail/zh-hans/assets/images/mail.svg" />
                                </div>
                                <div class="doc-title">
                                    <span class="title">海未办公套件私有部署文档</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="column is-full">
                    <div class="feature meet">
                        <a href="/document/meet" target="_blank">
                            <div class="doc-item">
                                <div class="doc-logo">
                                    <img src="https://hedwi.com/mail/zh-hans/assets/images/meet.svg" />
                                </div>
                                <div class="doc-title">
                                    <span class="title">海未会议私有部署文档</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="column is-full">
                    <div class="feature send">
                        <a href="/send" target="_blank">
                            <div class="doc-item">
                                <div class="doc-logo">
                                    <i class="material-icons">send</i>
                                </div>
                                <div class="doc-title">
                                    <span class="title">邮件代发文档</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</section>
</div>
{{ end }}
{{define "headercss"}}
{{ end }}
{{define "headerjs"}}
{{ end }}
{{ define "footerjs" }}
<script src="/static/js/home.js?v={{._timestamp}}"></script>
{{ end }}